# Data Loading, Storage, and File Formats

In [8]:
import os
import numpy as np
import pandas as pd
np.random.seed(12345)
#import matplotlib.pyplot as plt
#plt.rc('figure', figsize=(10, 6))
#np.set_printoptions(precision=4, suppress=True)

In [15]:
# system
system = list(os.uname())[0]
if system == 'Linux':
    base_dir = "/home/emuro/"
elif system == 'Darwin':
    base_dir = "~/Pycharm/"
base_dir += "git/github/pydata-book/"
print(base_dir)

/home/emuro/git/github/pydata-book/

## Reading and Writing Data in Text Format

In [16]:
ex1_f = base_dir + 'examples/ex1.csv'
!cat $ex1_f

In [18]:
pd.read_table(ex1_f, sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [20]:
df = pd.read_csv(ex1_f)
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [22]:
ex2_f = base_dir + 'examples/ex2.csv'
!cat $ex2_f

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [26]:
pd.read_csv(ex2_f, header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [26]:
pd.read_csv(ex2_f, header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [31]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv(ex2_f, names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [36]:
mindex_f = base_dir + 'examples/csv_mindex.csv'
!cat $mindex_f

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [38]:
pd.read_csv(mindex_f, index_col=["key1", "key2"])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [51]:
ex4_f = base_dir + 'examples/ex4.csv'
!cat $ex4_f
pd.read_csv(ex4_f, skiprows=[0,2,3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [48]:
pd.read_csv(ex3_f, sep="\s+")

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [51]:
ex4_f = base_dir + 'examples/ex4.csv'
!cat $ex4_f
pd.read_csv(ex4_f, skiprows=[0,2,3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [53]:
pd.read_csv(ex4_f, comment="#")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [60]:
ex5_f = base_dir + 'examples/ex5.csv'
!cat $ex5_f
result = pd.read_csv(ex5_f, na_values="asdf") # no funciona?
result

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [65]:
result.isna()
pd.isna(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [72]:
result2 = pd.read_csv(ex5_f, keep_default_na=False, na_values=["NA",""])
display(result2)
result2.isna()

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [73]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv(ex5_f, na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

## Reading Text Files in Pieces

In [80]:
pd.options.display.max_rows = 10

In [85]:
ex6_f = base_dir + 'examples/ex6.csv'
# !cat $ex6_f
result = pd.read_csv(ex6_f) 
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]