# Data Loading, Storage, and File Formats

In [1]:
import os
import numpy as np
import pandas as pd
np.random.seed(12345)
#import matplotlib.pyplot as plt
#plt.rc('figure', figsize=(10, 6))
#np.set_printoptions(precision=4, suppress=True)

In [2]:
# system
system = list(os.uname())[0]
if system == 'Linux':
    base_dir = "/home/emuro/git/github/"
elif system == 'Darwin':
    base_dir = "~/PycharmProjects/"
base_dir += "pydata-book/"
print(base_dir)

~/PycharmProjects/pydata-book/

## Reading and Writing Data in Text Format

In [3]:
ex1_f = base_dir + 'examples/ex1.csv'
!cat $ex1_f

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
pd.read_table(ex1_f, sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
df = pd.read_csv(ex1_f)
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
ex2_f = base_dir + 'examples/ex2.csv'
!cat $ex2_f

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [7]:
pd.read_csv(ex2_f, header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [8]:
pd.read_csv(ex2_f, header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [9]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv(ex2_f, names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [10]:
mindex_f = base_dir + 'examples/csv_mindex.csv'
!cat $mindex_f

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [11]:
pd.read_csv(mindex_f, index_col=["key1", "key2"])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [12]:
ex4_f = base_dir + 'examples/ex4.csv'
!cat $ex4_f
pd.read_csv(ex4_f, skiprows=[0,2,3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
ex3_f = base_dir + 'examples/ex3.csv'
!cat $ex3_f
pd.read_csv(ex3_f, sep="\s+")

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [14]:
ex4_f = base_dir + 'examples/ex4.csv'
!cat $ex4_f
pd.read_csv(ex4_f, skiprows=[0,2,3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
pd.read_csv(ex4_f, comment="#")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
ex5_f = base_dir + 'examples/ex5.csv'
!cat $ex5_f
result5 = pd.read_csv(ex5_f, na_values="asdf") # no funciona?
result5

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [17]:
result5.isna()
pd.isna(result5)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [18]:
result2 = pd.read_csv(ex5_f, keep_default_na=False, na_values=["NA",""])
display(result2)
result2.isna()

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [19]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv(ex5_f, na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

## Reading Text Files in Pieces

In [20]:
pd.options.display.max_rows = 10

In [21]:
ex6_f = base_dir + 'examples/ex6.csv'
# !cat $ex6_f
result = pd.read_csv(ex6_f) 
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [22]:
pd.read_csv(ex6_f, nrows=2)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B

In [23]:
chunker = pd.read_csv(ex6_f, chunksize=1000)

In [24]:
tot = pd.Series([], dtype='int64')
for p in chunker:
    tot = tot.add(p["key"].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
     ...
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
Length: 36, dtype: float64

## Writting Data to Text Format

In [25]:
!cat $ex5_f

result5 = pd.read_csv(ex5_f) # no funciona?
result5

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [26]:
import sys
result5.to_csv(sys.stdout, sep="|", index=False, columns=["a","b","c"], header=False)

1|2|3.0
5|6|
9|10|11.0

In [27]:
ex7_f = base_dir + 'examples/ex7.csv'
!cat $ex7_f

"a","b","c"
"1","2","3"
"1","2","3"

In [28]:
import csv
f = open(ex7_f)
reader = csv.reader(f)
reader

FileNotFoundError: [Errno 2] No such file or directory: '~/PycharmProjects/pydata-book/examples/ex7.csv'

In [ ]:
for i in reader:
    print (i)
f.close()

In [ ]:
with open(ex7_f) as f:
    lines = list(csv.reader(f))

In [ ]:
header, values = lines[0], lines[1:]
header

In [ ]:
values

In [ ]:
data_dict = {h:v for h, v in zip(header, zip(*values))}
data_dict

In [ ]:
class my_dialect(csv.Dialect):
    lineterminator = "\n"
    delimiter = ","
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [ ]:
ex7_f = base_dir + 'examples/ex7.csv'
ex7_f
!cat $ex7_f

In [ ]:
import csv

f = open(ex7_f)
reader = csv.reader(f, dialect=my_dialect)
reader
for i in reader:
    print (i)
f.close()

In [ ]:
# csv.writer  # csv.writerow

## JSON Data

In [ ]:
obj = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art", "dreaming"]}]
}
"""

obj

In [ ]:
import json
json_to_py = json.loads(obj)
json_to_py

In [ ]:
py_to_json = json.dumps(json_to_py)
py_to_json

In [ ]:
siblings = pd.DataFrame(json_to_py["siblings"], columns=["name", "age"])
siblings

In [ ]:
json_f = base_dir + 'examples/example.json'
json_f
!cat $json_f

In [ ]:
data = pd.read_json(json_f)

In [ ]:
data.to_json(sys.stdout)

## Xml and html Web Scraping

In [ ]:
tables = pd.read_html(html1_f)
tables

In [ ]:
import html5lib
test = pd.read_html("https://www.w3schools.com/html/html_tables.asp")
len(test)

In [ ]:
test[0]

In [ ]:
test[1].head()

In [ ]:
html1_f = base_dir + 'examples/fdic_failed_bank_list.html'
html1_f
# !cat $html1_f

tables = pd.read_html(html1_f)
len(tables)
tables[0].head()

In [ ]:
close_timestamps = pd.to_datetime(tables[0]["Closing Date"])
close_timestamps.dt.year
close_timestamps.dt.year.value_counts()

## Parsing XML with lxml.objectify

In [ ]:
from lxml import objectify

xml1_f = os.path.join(base_dir, "datasets/mta_perf/Performance_MNR.xml")
print(xml1_f )
# !cat $xml1_f

# No he conseguido que esto funcione
#
# with open("/home/enriquem.muro/PycharmProjects/pydata-book/datasets/mta_perf/Performance_MNR.xml", "r") as f:
#    parsed = objectify.parse(f)

## Binary data formats

In [33]:
from lxml import objectify

ex1_f = os.path.join(base_dir, "examples/ex1.csv")
print(ex1_f)
!cat $ex1_f

~/PycharmProjects/pydata-book/examples/ex1.csv
a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
frame = pd.read_csv(ex1_f)
frame
# frame.to_pickle("examples/frame_pickle")

In [32]:
p_f = os.path.join(base_dir, "examples/frame_pickle")
print(p_f)
!cat $p_f

pd.read_pickle(p_f)

~/PycharmProjects/pydata-book/examples/frame_pickle
��d      �pandas.core.frame��	DataFrame���)��}�(�_mgr��pandas.core.internals.managers��BlockManager����pandas._libs.internals��_unpickle_block����numpy.core.numeric��_frombuffer���(�`                     	                     
                                                ��numpy��dtype����i8�����R�(K�<�NNNJ����J����K t�bKK���C�t�R�builtins��slice���K KK��R�K��R�h�numpy.core.multiarray��_reconstruct���h�ndarray���K ��Cb���R�(KKK��h�O8�����R�(K�|�NNNJ����J����K?t�b�]�(�hello��world��foo�et�bhKKK��R�K��R���]�(�pandas.core.indexes.base��
_new_Index���h=�Index���}�(�data�h%h'K ��h)��R�(KK��h/�]�(�a��b��c��d��message�et�b�name�Nu��R�h?�pandas.core.indexes.range��
RangeIndex���}�(hON�start�K �stop�K�step�Ku��R�e��R��_typ��	dataframe��	_metadata�]��attrs�}��_flags�}��allows_duplicate_labels��sub.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## Microsoft files

In [35]:
xlsx_f = os.path.join(base_dir, "examples/ex1.xlsx")
print(xlsx_f)
# !cat $xlsx_f

~/PycharmProjects/pydata-book/examples/ex1.xlsx

In [38]:
xlsx = pd.ExcelFile(xlsx_f)
display(xlsx)

In [39]:
xlsx.sheet_names

['Sheet1']

In [40]:
xlsx.parse(sheet_name="Sheet1")

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [41]:
xlsx.parse(sheet_name="Sheet1", index_col=0)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [44]:
frame = pd.read_excel(xlsx_f, sheet_name="Sheet1", index_col=0)
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [45]:
# writer = pd.ExcelWriter("examples/ex2.xlsx")
# frame.to_excel(writer, "Sheet1")
# writer.save()

# or 
frame.to_excel("outFile.xlsx")

## Using hdf5 format

In [67]:
frame = pd.DataFrame({"a": np.random.standard_normal(100)})
frame

           a
0   1.127481
1  -0.568363
2   0.309362
3  -0.577385
4  -1.168634
..       ...
95 -0.225524
96  1.349726
97  1.350300
98 -0.386653
99  0.865990

[100 rows x 1 columns]

In [68]:
h5_f = os.path.join(base_dir, "examples/EMdata.h5")
print(h5_f)

store = pd.HDFStore( h5_f )

~/PycharmProjects/pydata-book/examples/EMdata.h5

In [69]:
store["obj1"] = frame

In [70]:
store["obj1_col"] = frame["a"]

In [71]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: /Users/enriquem.muro/PycharmProjects/pydata-book/examples/EMdata.h5

In [72]:
store.put("obj2", frame, format="table")
store.select("obj2", where=["index >= 10 and index <15"])

           a
10  1.457300
11  0.609512
12 -0.493779
13  1.239980
14 -0.135722

In [73]:
store.close()

In [76]:
frame.to_hdf(h5_f, "obj3" , format="table")
pd.read_hdf(h5_f, "obj3", where=["index<5"])

          a
0  1.127481
1 -0.568363
2  0.309362
3 -0.577385
4 -1.168634

In [77]:
import os 
# os.remove(h5_f)

FileNotFoundError: [Errno 2] No such file or directory: '~/PycharmProjects/pydata-book/examples/EMdata.h5'