# Time Series

In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Date and Time Data Types and Tools

In [2]:
from datetime import datetime
now = datetime.now()
display(now)
display(now.year), display(now.month), display(now.day), display(now.microsecond)

datetime.datetime(2022, 7, 18, 10, 10, 12, 359593)

2022

7

18

359593

(None, None, None, None)

In [3]:
delta = datetime.now() - datetime(1969, 11, 29)
display(delta)
display(delta.days)
display(delta.seconds)

datetime.timedelta(days=19224, seconds=36612, microseconds=387595)

19224

36612

In [4]:
from datetime import timedelta

start = datetime(2001, 1, 21)
start + timedelta(12)

datetime.datetime(2001, 2, 2, 0, 0)

In [5]:
start  - 2 * timedelta(12)

datetime.datetime(2000, 12, 28, 0, 0)

In [6]:
stamp = datetime(2001,11,3)
str(stamp)
stamp.strftime("%Y-%m-%d")

'2001-11-03'

In [7]:
stamp.strftime("%F")

'2001-11-03'

In [8]:
value = "2011-01-03"
datetime.strptime(value, "%Y-%m-%d")
datetime(2011, 1, 3, 0, 0) # error in the book!

datestrs = ["7/6/2011", "8/6/2011"]
[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

[datetime(2011, 7, 6, 0, 0), datetime(2011, 8, 6, 0, 0)]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [13]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
a = pd.to_datetime(datestrs)

In [14]:
display(a)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [18]:
idx = pd.to_datetime(datestrs + [None])
idx

idx[2]
pd.isna(idx)

array([False, False,  True])

## Time Series Basics