# 3  Built-in Data Structures, Functions, and Files

## Tuples

In [ ]:
tup = 1,2,3,4,5,6,7,8,9
tup2 = ("a","b")
tup3 = tuple("caracoles")
print(tup)
print(tup2)
print(tup3)

In [ ]:
nested_tup = (1,2,3), (2,3,("a","b")), 1,[2,3] # more complex
print(nested_tup)

In [ ]:
# inmutable
tup = tuple([9,8,7,6,5,4,3,2,1,0])
tup2 = ("a","b")
print(id(tup))
tup = tup + tup2
print(tup)
print(id(tup))

In [ ]:
tup = tuple("asdfghjkl;qwertyu")
print(tup)
print(tup[1] + str(len(tup)))

In [ ]:
t = ("!£$%^&*()") # set
print(t)
print(type(t))

tup = tuple([9,8,7,6,5,4,3,2,1,0]) # tuple
print(tuple)
print(type(tuple))

s = set("!£$%^&*()") # set
print(s)
print(type(s))

l = {1,2,3,4} # set
print(l)
print(type(l))

In [ ]:
tup = (1, [2,3], True, 2)
print(tup[1])
tup[1].pop()
tup[1].append(6)
print(tup)

In [ ]:
tup = (1, [2,3], True, 2)
tup = tup*2
print(tup)

In [ ]:
tup = (1, [2,3], True, 2)
a,b,c,d=tup
print(a,c)

In [ ]:
tup = (1, (2,3), True, 2)
a,(b,c),d,e = tup
print(c,e)

In [ ]:
a=1; b=2
print(a,b)
a,b = b,a
print(a,b)

In [ ]:
tup=((1,2,3), (4,"g",6), (7,99,9))
for a,b,c in tup:
    print(f'a={a}, b={b}, c={c}')

In [ ]:
tup=((1,2,3), (4,"g",6), (7,99,9))
a,*kk = tup
print(a)
print(*kk)

In [ ]:
tup=((1,2,3), (4,"g",6), (7,99,9))
a,*_,c = tup
print(a)
print(*_)
print(c)

In [ ]:
tup = tuple("aagaghaajajjajaajajaa")
print(tup.count("h"))

# Built-in Data Structures, Functions,

In [ ]:
# enumerate
collection = ['foo', 'faa', 'fii']
my_dict = dict()
for i, value in enumerate(collection):
    my_dict[value] = i
print(my_dict)
print(list(enumerate(collection)))

In [ ]:
my_list = list("ÄÖLKJHGFDSWERTZUIOP")
print(sorted(my_list))
print(my_list)
my_tuple = tuple("RTZUIOPPOIZuiop")
print(sorted(my_tuple))

In [ ]:
aas = ["M", "Q"] 
codons = ["atg", "ccg"]
genetic_code = list(zip(aas, codons))
print(genetic_code)
my_dict = dict(genetic_code)

In [ ]:
seq1 = ['foo', 'faa', 'fii']
seq2 = ['soo', 'saa', 'sii']
seq3 = ['too', 'taa', 'tii']
my_zipped = list(zip(seq1, seq2, seq3))
for i, (a, b, c) in enumerate(my_zipped):
    print(i, a, b, c)
    print(f'{i:d} es un {a}={b}!={c}')

In [ ]:
r,a,t = zip(*my_zipped)
print(r,a,t)
r

In [ ]:
z=reversed(seq1)
print(list(z))
print(list(seq1))

## dict: dictionaries

In [ ]:
my_dict = {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an z integer'}
print(my_dict["b"])
print(my_dict[7])
del my_dict[7]    # Important
print(my_dict)
sacado = my_dict.pop("a")
print(sacado)
print(my_dict)

In [ ]:
print(my_dict["b"]) 
"b" in my_dict  # bun not "b" in my_dict

In [ ]:
my_dict = {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an z integer'}
print(my_dict)
print(my_dict.keys()) # suelta un objeto
print(list(my_dict.keys())) # suelta un objeto

In [ ]:
for val in my_dict.values():
    print(val)

In [ ]:
l = my_dict["b"]
print(type(l))
my_dict.update({"b": list(reversed(l))+[1969]}) # method update
print(my_dict)

In [ ]:
ll=[1,2,3]
aa=reversed(ll)
print(list(aa))

In [ ]:
key_list = [1,2,3,4]
val_list = list("abcd")
my_dict = {}
for key, val in zip(key_list,val_list):
    my_dict[key] = val
print(my_dict)

In [ ]:
my_dict = dict(zip(range(0,5), reversed(range(10,15))))
print(my_dict)

In [ ]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for w in words:
    letter = w[0]
    if letter not in by_letter:
        by_letter[letter] = [w]
    else:
        by_letter[letter].append(w)
print(by_letter)     
        
for l in by_letter:
    by_letter[l].sort(reverse=1)
print(by_letter)

In [ ]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter2 = {}
for w in words:
    letter = w[0]
    #print(by_letter2.setdefault(letter,[]))
    by_letter2.setdefault(letter,[]).append(w)
print(by_letter2)

In [ ]:
# hash 
print(hash('string'))
for k in by_letter:
    print(k, hash(k), type(hash(k)))

In [ ]:
print(hash(tuple("asdfghjkl"))) # works because tuple is unmutable

In [ ]:
print(hash(tuple(list("asdfghjkl")))) #doesn't work is mutable

In [ ]:
# complex solution the list can be converted to tuple (unmutable)
my_dict = {tuple(list("asdfghjkl")): "kk"} 
print(my_dict)

In [ ]:
# sets
my_set = {"a","b","c","d1","e","a","a"}
my_set2 = {1, 2, 3}
print(id(my_set2))
my_set2.add("d1")
print(id(my_set2))
print(my_set)
my_set = my_set.union(my_set2) # a | b
print(id(my_set))

my_set.intersection(my_set2) # a & b

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

c = a.copy()
print(id(c))
c |= b
print(id(c))
c

In [ ]:
c = a.copy()
c |= b
c

In [ ]:
my_data = [1,2,3]
my_set = {tuple(my_data)}
my_set
for e in my_set:
    print(e)

In [ ]:
{1,2,3} == {3,2,1}

## List, Set, and Dict Comprehensions
[expr for val in collection if condition]

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if x.startswith("a")]

dict_comp = {key-expr : value-expr for value in collection
             if condition}

In [ ]:
dict_comp = {len(x) : x for x in strings if len(x)<5} # avoid python
dict_comp

sets  
set_comp = {expr for value in collection if condition}

In [ ]:
set_comp = [x for x in strings if len(x)>1]
set_comp

#### Function: map()

In [ ]:
def double_of(num):
    return 2*num

n_l = [1,2,3,4]
double_n_l = list(map(double_of, n_l))
print(double_n_l)
print(type(double_n_l))

Then,

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
length_of_strings = set(map(len, strings)) # using map
print(length_of_strings)

In [ ]:
# position in list
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
loc_string = {val:i  for i, val in enumerate(strings)}
print(loc_string)
print(loc_string["bat"])

In [ ]:
all_data = [['John', 'Michael', 'Mary', 'Steven', 'Emily'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
two_a_names = []
print(all_data)
for names in all_data:
    for name in names:
        if name.count('a')>=2:
            two_a_names.append(name)

print(two_a_names)

In [ ]:
names_of_interest = []
for names in all_data:
    aux_l = [name  for name in names if name.lower().count('n')>=1]
    names_of_interest.extend(aux_l)
names_of_interest

In [ ]:
# otra manera
names_of_interest = [name for names in all_data  for name in names   if name.lower().count('n')]
names_of_interest

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9, 9)]
my_list = [x for tup in some_tuples  for x in tup]
print(my_list)
print(type(my_list))
my_set = {x for tup in some_tuples  for x in tup}
print(my_set)
print(type(my_set))
my_tup = tuple(x for tup in some_tuples  for x in tup)
print(my_tup)
print(type(my_tup))

In [ ]:
#url = "https://upload.wikimedia.org/wikipedia/commons/8/80/Loris_tardigradus_tardigradus_001.jpg"
#from IPython import display
#display.Image(url)

## Functions

In [ ]:
def procedure(): # return None 
    pass

out = procedure()
print(out)

In [ ]:

def func():
    global a
    a = []
    for i in range(5):
        a.append(i)
    print(a)
    
func()
print(a) # error!: a is local to func()

In [39]:
def f():
    a, b, c = 1, 2, 3
    return a, b, c

d, e, g = f()
print(d, e, g)

(h, i, j)  = f()
print(h, i, j)

1 2 3
1 2 3

### A list of functions vs map

In [35]:
import re

def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south   carolina##', 'West virginia?']
clean_ops = [str.strip, remove_punctuation, str.title]
cleaned = clean_strings(states, clean_ops)
print(cleaned)

['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South   Carolina', 'West Virginia']

In [36]:
import re

def clean_end(input):
    return re.sub(r"[!#?]*", "", input)

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south   carolina##', 'West virginia?']
ops = [clean_end, str.strip, str.title] 

cleaned_states = []
for val in states:
    for op in ops:
        val = op(val)
    cleaned_states.append(val)

cleaned_states

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [31]:
import re

def clean_end(input):
    return re.sub(r"[!#?]*", "", input)

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south   carolina##', 'West virginia?']
ops = [clean_end, str.strip, str.title] 

for x in map(clean_end, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia